.spacer {
  width: 5%;
  float: left;
  text-align: center;
}

.p{
  font-family: Tahoma;
  size: 13px;
}

#bkg1 {
  background-image: url("sky.jpg");
  width: 100%;
  background-size: cover;
}

#bkg2 {
  background-image: url("gray.jpg");
  width: 100%;
  background-size: cover;
}

#h1 {
  font-family: Tahoma;
  font-size: 25pt;
  text-align: center;
}

#login {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background-color: LightGray;
  width: 30%;
  border: 2px solid black;
  padding: 10px;
}

.headerLink {
  padding: 9px 20px;
  background-color: white;
  color: black;
  font-family: Tahoma;
  border: 3px solid black;
}

.headerLink:hover {
  background-color: Gainsboro;
}

.button {
  text-align: center; 
  border-radius: 15px;
  background-color: white; 
  font-size: 24px; 
  width: 200px; 
  padding: 10px;
  border: 2px solid black;
  font-family: Tahoma;
}

.button:hover {
  background-color: Gainsboro; 
}

.imgContainer {
  padding: 10px;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
}

.containedImg {
  max-width: 100%;
  max-height: 100%;
}
